.terminal {
    position: relative;
    width: 50vw;
    max-width: 900px;
    min-height: 60vh;
    padding: 0.5rem;

    background: rgba(0, 14, 119, 0.564);
    backdrop-filter: blur(14px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);

    border-radius: 10px;
    box-shadow:
        0 0 0 1px rgba(255,255,255,0.05),
        0 20px 60px rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

/* gradientowa ramka */
.terminal::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;

    background: linear-gradient(
        135deg,
        #22d3ee,
        #6366f1,
        #a78bfa
    );

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

    pointer-events: none;
}


.line {
    display: flex;
}

.prompt-input {
    min-width: 5ch;
    min-height: 1em;
    border: none;
    display: inline-block;
    outline: none;
    caret-color: black;
}